/Homo_sapiens.GRCh38.98.csv
/biomart_mmusculus.txt
/biomart_mmusculus.txt
/biomart_mmusculus.txt
/biomart_HSapiens.txt
/Mus_musculus.GRCm38.98.csv
/Human_GRCh38.p13_alias.txt
/Mouse_GRCm39_alias.txt
/BioMart_version.tsv
